.email {
  background-color: #ffffff;
  height: 60px;
  margin-bottom: 30px;

  input {
    border: none;
    color: #304040;
    font-size: 16px;
    height: 60px;
    padding-left: 20px;
    width: calc(100% - 22px);

    &::placeholder {
      color: #cdd6d1;
    }
  }
}
