* {
  color: #404142;
  font-family: "M PLUS Rounded 1c", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.6;

  &::placeholder {
    color: #c4c4c4;
  }
}

div.payment-form {
  margin: 0 auto;
  max-width: 400px;
  padding-top: 60px;

  h1 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 60px;
    position: relative;
    text-align: center;

    &::before {
      background-color: #808284;
      bottom: -15px;
      border-radius: 4px;
      display: inline-block;
      content: "";
      height: 5px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 60px;
    }
  }

  p {
    font-size: 10px;
    padding-left: 40px;
  }

  div.row {
    align-items: center;
    display: flex;
    margin: 12px 30px;

    span.material-icons {
      color: #c4c4c4;
      font-size: 20px;
      margin-left: 30px;
      position: absolute;
    }

    input {
      background-color: #f5f5f5;
      border: none;
      border-radius: 10px;
      height: 40px;
      text-align: center;
      width: 100%;

      &:focus {
        outline: none;
      }
    }
  }

  div.unlocked-at {
    margin-top: 6px;

    input {
      padding: 0 30px 0 25%;
    }
  }

  div.user-num {
    margin-top: 6px;

    input {
    }
  }

  div.amount {
    display: block;
    margin-top: 6px;
    text-align: center;

    span {
      font-size: 16px;
    }
  }

  div.card {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 10px 30px;

    div.StripeElement {
      padding: 0 10px 0 30px;
    }
  }

  div.button {
    text-align: center;

    button {
      background-color: #808284;
      border: none;
      border-radius: 10px;
      color: #ffffff;
      cursor: pointer;
      height: 40px;
      margin: 20px 0 60px;
      width: 160px;

      &:hover {
        background-color: #c0a268;
      }
    }
  }
}
