button {
  border: none;
  display: block;
  height: 50px;
  margin: 30px auto 0;
  width: 160px;

  &:hover {
    background-color: #8c928c;
    color: #ffffff;
    cursor: pointer;
  }
}

.email {
  background-color: #ffffff;
  height: 60px;
  margin-bottom: 30px;

  input {
    border: none;
    color: #304040;
    font-size: 16px;
    height: 60px;
    padding-left: 20px;
    width: calc(100% - 22px);

    &::placeholder {
      color: #cdd6d1;
    }
  }
}

.card {
  background-color: #ffffff;

  .StripeElement {
    padding: 0 20px;
  }
}

.email {
  background-color: #ffffff;
  height: 60px;
  margin-bottom: 30px;

  input {
    border: none;
    color: #304040;
    font-size: 16px;
    height: 60px;
    padding-left: 20px;
    width: calc(100% - 22px);

    &::placeholder {
      color: #cdd6d1;
    }
  }
}

.name {
  background-color: #ffffff;
  display: flex;
  height: 60px;
  margin-bottom: 30px;

  input {
    border: none;
    color: #373737;
    flex-grow: 1;
    font-size: 16px;
    height: 60px;
    padding-left: 20px;

    &::placeholder {
      color: #cdd6d1;
    }

    &:last-child {
      border-left: 2px solid #f5f5f5;
    }
  }
}
